
.mat-flat-button {
    margin: 5px;
  }
  .example-container {
    position: relative;
    padding: 5px;
  }
  table {
    width: 99%;
    margin-bottom: 25px;
    text-align: center;
  }
  th {
    background-color: #69f0ae;
    color: black;
  }