<div>
    <h3>Tarefas</h3>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="sn_done">
      <th mat-header-cell *matHeaderCellDef> Concluido </th>
      <td mat-cell *matCellDef="let element"> {{element.sn_done}} </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="accent" routerLink="/task-detail/{{element._id}}" selected>Detalhe</button></td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>